# Virtual environments
.venv/
.venv_win/

# Datasets
dataset/
dataset_split/

# Python cache
__pycache__/
*.pyc

# PyCharm
.idea/

# Generated Grad-CAM results
explainability_results/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp